<script src="http://localhost:31337/WebSocketTest2.js"></script>

<h1 id="renderloop">-1</h1>

<canvas id="myCanvas" width="320" height="200"></canvas>

<button id="toggleScrolling">Toggle scrolling</button>


<fieldset>
  <legend>WebView to Native</legend>
  <label>Method</label>
  <select id="methodElem">
<option value="localStorage">localStorage</option>


    <!-- ordnung -->
    <option value="cookie">cookie (4kb max)</option>

    <option value="localStorage">localStorage</option>

    <option value="http.websockets">http.websockets</option>

    <option value="jscore.sync">jscore.sync</option>

    <option value="html.iframe">html.iframe</option>
    <option value="html.iframe.same">html.iframe.same</option>
    <option value="html.iframe.replace">html.iframe.replace</option>

    <option value="html.script">html.script</option>
    <option value="html.script.same">html.script.same</option>
    <option value="html.script.replace">html.script.replace</option>

    <option value="html.svgImage">html.svgImage</option>
    <option value="html.svgImage.same">html.svgImage.same</option>
    <option value="html.svgImage.replace">html.svgImage.replace</option>

    <option value="html.img">html.img</option>
    <option value="html.img.same">html.img.same</option>
    <option value="html.img.replace">html.img.replace</option>

    <option value="html.link">html.link</option>
    <option value="html.link.same">html.link.same</option>
    <option value="html.link.replace">html.link.replace</option>

    <option value="html.embed">html.embed</option>
    <option value="html.embed.same">html.embed.same</option>
    <option value="html.embed.replace">html.embed.replace</option>

    <option value="html.object">html.object</option>
    <option value="html.object.same">html.object.same</option>
    <option value="html.object.replace">html.object.replace</option>

    <option value="xhr.async">xhr.async</option>
    <option value="xhr.sync">xhr.sync</option>

    <option value="a.click">a.click</option>

    <option value="location.hash">location.hash</option>

    <option value="location.href">location.href</option>

  </select><br/>

  <label>Messages to send</label>
<!--
<input id="messagesElem" type="number" value="1" size="4"></input><br/>
-->

  <select id="messagesElem">
<option value="100">100</option>

<option value="1">1</option>
<option value="2">2</option>
<option value="1000">1000</option>
    <option value="10">10</option>

    <option value="25">25</option>
    <option value="50">50</option>
  </select><br/>

  <label>Interval length:</label>

<!--
  <input id="intervalLengthElem" type="number" value="250" size="4"></input><br/>
-->

  <select id="intervalLengthElem">
<option value="1000">1000</option>

    <option value="100">100</option>

    <option value="25">25</option>


    <option value="5000">5000</option>


    <option value="50">50</option>

    <option value="250">250</option>
    <option value="500">500</option>
    <option value="10">10</option>

  </select><br/>


  <label>Payload (n*1024)</label>
<!--
  <input id="payloadLengthElem" type="number" value="0" size="4"></input><br/>
-->

  <select id="payloadLengthElem">
    <option value="3">3</option>
    <option value="1000">1000</option>
    <option value="64">31</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="250">250</option>
    <option value="10">10</option>
    <option value="2000">2000</option>
    <option value="3000">3000</option>
    <option value="4000">4000</option>
    <option value="5000">5000</option>
    <option value="10000">10000</option>
  </select><br/>

  <button id="perform">Perform</button>

</fieldset>

<iframe class="nativebridge" src="about:blank"></iframe>
<embed class="nativebridge" src="about:blank"></embed>
<script class="nativebridge"></script>
<svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px">
  <image class="nativebridge"></image>
</svg>
<img class="nativebridge" />
<link class="nativebridge" rel="stylesheet" type="text/css" href="#" />
<object class="nativebridge" data="about:blank"></object>


<h1>Listing results</h1>
<%= link_to 'Destroy all results', destroy_all_test_results_path(@test), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'tests/testresults' %>

<table border="1">
  <thead>
    <tr>
      <th>Result</th>
      <th>Method</th>
      <th>from</th>
      <th>fps</th>
      <th>mem</th>
      <th>cpu</th>
      <th>render paused</th>

      <th>webview to native delta</th>
      <th>native to webview delta</th>

      <th>webview payload</th>
      <th>native payload</th>

      <th>WebView start</th>
      <th>Native received</th>
      <th>Native started</th>
      <th>WebView received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.id %></td>
        <td><%= result.method_name %></td>
        <td><%= result.from %></td>
        <td><%= result.fps %></td>
        <td><%= result.mem %></td>
        <td><%= result.cpu %></td>
        <td><%= result.render_paused %></td>

        <td><%= result.webview_to_native_delta.round(4) %></td>
        <td><%= result.native_to_webview_delta.round(4) %></td>

        <td><%= result.webview_payload_length %></td>
        <td><%= result.native_payload_length %></td>

        <td><%= result.webview_started_at.to_f.round(4) %></td>
        <td><%= result.native_received_at.to_f.round(4) %></td>

        <td><%= result.native_started_at.to_f.round(4) %></td>
        <td><%= result.webview_received_at.to_f.round(4) %></td>


        <td><%= link_to 'Edit', edit_test_result_path(@test, result) %></td>
        <td><%= link_to 'Destroy', test_result_path(@test, result), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
