<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>

  <%= render 'testresults' %>

</p>

<%= link_to "Results", test_results_path(@test) %> |
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
